{% extends 'polls/base.html' %}
{% load static %}

{% block content %}
        <div id="movies" class="container">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{% static 'img/avengers.jpg' %}" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'img/batman.jpg' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'img/dune.jpg' %}" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
            <section class="text-center">
                <h3>Movie List</h3>
                {% if movies_list %}
                <ul>
                    {% for movie in movies_list %}
                    <li>
                        <form action="/polls/movie/{{ movie.id }}/">
                            <a>{{ movie.title }}</a>
                            <input type="submit" value="check" />
                        </form>

                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No polls are available.</p>
                {% endif %}
            </section>
        </div>
{% endblock %}