<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
{% if user.is_authenticated %}
<!-- {% if user.is_superuser %}
    <li class="nav-item">
    <a class="nav-link" href=" url 'admin_approval' ">Admin</a>
  </li>
{%endif %} -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
  </li>
{% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'register_user' %}">Register</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Login</a>
  </li>
{% endif %}
</nav>