<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My test page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <header>
        <div class="bg-image">
            <a id="home">
                {% load static %}
                <div class="mask"
                    style="background-color: rgba(0, 0, 0, 0.6); background-image: url('{% static 'img/bg.jpg' %}')">
                    <div class="d-flex justify-content-center align-items-center d-flex flex-column" id="top">
                        <h1 class="font-weight-bold text-light p-2 mt-5">Cinema name</h1>
                        <h4 class="text-light p-2">Welcome</h4>
                        <a href="#"><button type="button" class="btn btn-light mb-5">Find out about our movies<i
                                    class="fas fa-book p-2"></i></button></a>
                    </div>
                </div>
            </a>
        </div>
    </header>
    {% if seats %}
    <main class="p-3 bg-dark text-white">
        <form method="post" action="">
            {% csrf_token %}
            {% for seat in seats %}
            {% ifchanged seat.row %} <br>row {{ seat.row }} - {% endifchanged %}
            {% if seat.seatType == 0 %}<input type="checkbox" disabled="disabled">
            {% elif seat.client %}<input type="checkbox" disabled="disabled">
            {% else %}<input type="checkbox" name="seats" value="{{seat.row}} {{seat.number}}"> {% endif %}
            {% endfor %}
            <br>
            <input type="submit">
        </form>
    </main>
    {% else %}
    <p>no seats</p>
    {% endif %}
</body>

</html>